.banner {
    background-color: #cfeeff;
    color: #282c34;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    min-height: 50vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.banner p {
    margin: 10px 0;
    font-size: 1.5rem;
}

.banner a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff; /* Dark red button */
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

.banner a:hover {
    background-color: #0056b3; /* Slightly lighter red on hover */
}

.banner .timer {
    font-size: 1.2em; /* Increase font size for visibility */
    font-weight: bold;
    color: #d9534f; /* Darker red for the countdown */
}

p{
    font-size: 1.25rem;
}